{% extends 'base.html.twig' %}

{% block title %}Discography{% endblock %}
{% import 'components/modal_song.html.twig' as modal %}
{% import 'components/icon.html.twig' as icon %}

{% block body %}
    <h1 class="h3 t-center">Discography</h1>

    <div class="container-timeline">
        <div class="timeline mt3">
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img discocatchAFire">
                        {{ icon.play() }}
                        <img src="/img/bob_marley13.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Catch a Fire</h4>
                        <p><strong>Bob Marley & The Wailers</strong></p>
                        <p>Sortie le : 1973</p>
                        <p>Il comporte : 20 songs</p>
                        <p>L'album à une durée de : 1h19 min</p>
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img discoburnin">
                        {{ icon.play() }}
                        <img src="/img/bob_marley12.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Burnin</h4>
                        <p><strong>The Wailers</strong></p>
                        <p>Sortie le : 1973</p>
                        <p>Il comporte : 27 songs</p>
                        <p>L'album à une durée de : 2h15 min</p>
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img disconattyFread">
                        {{ icon.play() }}
                        <img src="/img/bob_marley11.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Natty Dread</h4>
                        <p><strong>The Wailers & The Wailers</strong></p>
                        <p>Sortie le : 1974</p>
                        <p>Il comporte : 10 songs</p>
                        <p>L'album à une durée de : 42 min 6 sec</p>
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img discorastamanVibration">
                        {{ icon.play() }}
                        <img src="/img/bob_marley10.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Rastaman Vibration</h4>
                        <p><strong>The Wailers & The Wailers</strong></p>
                        <p>Sortie le : 1976</p>
                        <p>Il comporte : 11 songs</p>
                        <p>L'album à une durée de : 39 min 37 sec</p>
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img discoexodus">
                        {{ icon.play() }}
                        <img src="/img/bob_marley9.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Exodus</h4>
                        <p><strong>The Wailers & The Wailers</strong></p>
                        <p>Sortie le : 1977</p>
                        <p>Il comporte : 12 songs</p>
                        <p>L'album à une durée de : 50 min 12 sec</p>
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img discokaya">
                        {{ icon.play() }}
                        <img src="/img/bob_marley8.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Kaya</h4>
                        <p><strong>The Wailers & The Wailers</strong></p>
                        <p>Sortie le : 1978</p>
                        <p>Il comporte : 11 songs</p>
                        <p>L'album à une durée de : 42 min 21 sec</p>
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img discosurvival">
                        {{ icon.play() }}
                        <img src="/img/bob_marley7.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Survival</h4>
                        <p><strong>The Wailers & The Wailers</strong></p>
                        <p>Sortie le : 1979</p>
                        <p>Il comporte : 11 songs</p>
                        <p>L'album à une durée de : 44 min 32 sec</p>
                    </div>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-content">
                    <div class="timeline-img discouprising">
                        {{ icon.play() }}
                        <img src="/img/bob_marley6.jpg" alt="" width="250" height="250">
                    </div>
                    <div class="timeline-body space-text-height">
                        <h4 class="timeline-title">Uprising</h4>
                        <p><strong>The Wailers & The Wailers</strong></p>
                        <p>Sortie le : 1980</p>
                        <p>Il comporte : 12 songs</p>
                        <p>L'album à une durée de : 46 min 39 sec</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ modal.catchAFire() }}
    {{ modal.nattyFread() }}
    {{ modal.burnin() }}
    {{ modal.exodus() }}
    {{ modal.survival() }}
    {{ modal.rastamanVibration() }}
    {{ modal.uprising() }}
    {{ modal.kaya() }}
{% endblock %}



