{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}

    <div>
        <h1 class="h1 t-center">{{ news.title }}</h1>

        <div class="justify-content-center">
            <img src="/upload/{{ news.image }}" class="py3" alt="{{ news.image }}" width="500" height="auto">
        </div>

        <div>
            {{ news.content | raw }}
        </div>


        <div class="card-footer flex-end">
            <a href="{{ news.source }}">
                <spane style="color: gray">source:</spane> {{ news.source }}</a>
        </div>

    </div>
{% endblock %}
