{% extends 'admin/base.html.twig' %}

{% block title %}Admin News
{% endblock %}

{% import 'components/icon.html.twig' as icon %}

{% block body %}
	<div class="justify-content-between align-item-center mt3">
		<h1 class="h1">Mes News</h1>
		<a href="{{ path('admin.news.new') }}" class="btn-primary">
			<i class="icon">{{ icon.plus() }}</i>
			Créer une news
		</a>
	</div>

	<table class="table">
		<thead class="thead">
			<tr>
				<th>id</th>
				<th>title</th>
				<th>Créer Le:</th>
				<th></th>
			</tr>
		</thead>

		<tbody class="tbody">
			{% if news|length > 0 %}
				{% for new in news %}
					<tr>
						<td>{{ new.id }}</td>
						<td>{{ new.title }}</td>
						<td>{{ new.createdAt | date('d M Y') }}</td>
						<td>
							<a href="{{ path('admin.news.edit', {'id': new.id}) }}" class="btn-primary">
								<i class="icon">{{ icon.edit() }}</i>Edit</a>
							<form method="post" action="{{ path('admin.news.delete', {'id': new.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sur ?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ new.id) }}">
								<button class="btn-danger">
									<i class="icon">{{ icon.delete() }}</i>Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<th colspan="6">
					<p class="p3">Il n'y a pas de news</p>
				</th>
			{% endif %}
		</tbody>
	</table>

	<div>
		{{ knp_pagination_render(news) }}
	</div>
{% endblock %}
