<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="/img/logo.png">    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="container-nav">
    <a href="{{ path('home') }}">
        <img src="/img/logo.png" alt="" width="75" height="50">
    </a>
    <ul>
        <li>
            <a class="{% if app.request.get('_route') == 'discography' %} nav_active {% endif %}"
               href="{{ path('discography') }}">Discographie
            </a>
        </li>
        <li>
            <a class="{% if app.request.get('_route') == 'image' %} nav_active {% endif %}"
               href="{{ path('image') }}">Image
            </a>
        </li>
        <li>
            <a class="{% if app.request.get('_route') == 'video' %} nav_active {% endif %}"
               href="{{ path('video') }}">Vidéo
            </a>
        </li>
        <li>
            <a class="{% if app.request.get('_route') == 'news' %} nav_active {% endif %}"
               href="{{ path('news') }}">Actualité
            </a>
        </li>
        <li>
            <a class="{% if app.request.get('_route') == 'contact' %} nav_active {% endif %}"
               href="{{ path('contact') }}">Contact
            </a>
        </li>
    </ul>
</nav>
<main class="container my5">
    {% block body %}{% endblock %}
</main>
</body>
<footer>

</footer>
</html>
